<form method='post' action='/links'>
Website title: <input type='text' name='title'><br>
Website URL: <input type='text' name='url'><br>
Tag: <input type='text' name='tag'><br>
<input type='submit' value='Add link'>
</form>
