<form method='post' action='/links'>
Website title: <input type='text' name='title'><br>
Website URL: <input type='text' name='url'><br>
Tags (separate with spaces): <input type='text' name='tags'><br>
<input type='submit' value='Add link'>
</form>
